*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #5A2D6C;
}
main{
    background-color: white;
    color: deeppink;
    text-align: center;
    font-family: Arial;
}